services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: php_app
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html:Z
    restart: unless-stopped
